<form [formGroup]="registerForm" class="flex flex-col">
  <div>
    <g-select
      placeholder="ERI kalitini tanlang"
      formControlName="eriKey"
      [error]="getErrorMessage('eriKey')"
    >
      @for (key of eriKeys; track key.id) {
        <g-option [value]="key.id" [label]="key.name" [subLabel]="key.jshshir">
          <div class="flex flex-col p-3">
            <span class="font-medium text-gray-800 text-sm">{{ key.name }}</span>
            <div class="flex items-center gap-4 text-[13px] text-gray-400 mt-1">
              <span class="flex items-center gap-1.5">
                <g-icon name="user" color="#2C8CE6" size="16"></g-icon> {{ key.jshshir }}
              </span>
              <span class="flex items-center gap-1.5">
                <g-icon name="calendar" color="#2C8CE6" size="16"></g-icon> {{ key.date }}
              </span>
            </div>
          </div>
        </g-option>
      }
    </g-select>
  </div>
  <!-- <g-input
    label="Foydalanuvchi nomi"
    placeholder="Kiriting, masalan: ux_designer"
    formControlName="username"
    [error]="getErrorMessage('username')"
  ></g-input>
  <g-input
    label="Parol"
    placeholder="********"
    type="password"
    formControlName="password"
    [error]="getErrorMessage('password')"
  ></g-input>
  <g-input
    label="Parolni takrorlash"
    type="password"
    placeholder="********"
    formControlName="confirmPassword"
    [error]="getErrorMessage('confirmPassword')"
  ></g-input>
  <g-input
    placeholder="+998 XX XXX-XX-XX"
    label="Telefon raqami"
    type="phone"
    formControlName="phone"
    [error]="getErrorMessage('phone')"
  ></g-input> -->

  <g-button [fullWidth]="true" rounded="sm" customClass="mt-4" (click)="onSubmit()">
    Ro’yxatdan o’tish
    <div class="w-7 h-7 rounded-full flex justify-center items-center absolute right-5 bg-blue-400">
      <g-icon name="arrow-right" size="12"></g-icon>
    </div>
  </g-button>

  <g-button variant="secondary" [fullWidth]="true" rounded="sm" customClass="mt-4">
    <g-icon name="refresh-icon" size="16"></g-icon>
    Yangilash
  </g-button>
</form>
