<form [formGroup]="registerForm" class="flex flex-col">
  <g-select-new class="block w-full" placeholder="ERI kalitini tanlang" [formControl]="eriControl">
    @for (key of eriKeys; track key.id) {
      <g-option-new [value]="key.id" [label]="key.name"> </g-option-new>
    }
  </g-select-new>
  <g-input
    label="Foydalanuvchi nomi"
    placeholder="Kiriting, masalan: ux_designer"
    formControlName="username"
    [error]="getErrorMessage('username')"
  ></g-input>
  <g-input
    label="Parol"
    placeholder="********"
    type="password"
    formControlName="password"
    [error]="getErrorMessage('password')"
  ></g-input>
  <g-input
    label="Parolni takrorlash"
    type="password"
    placeholder="********"
    formControlName="confirmPassword"
    [error]="getErrorMessage('confirmPassword')"
  ></g-input>
  <g-input
    placeholder="+998 XX XXX-XX-XX"
    label="Telefon raqami"
    type="phone"
    formControlName="phone"
    [error]="getErrorMessage('phone')"
  ></g-input>

  <g-button [fullWidth]="true" rounded="sm" (click)="onSubmit()">
    Ro’yxatdan o’tish
    <div class="w-7 h-7 rounded-full flex justify-center items-center absolute right-5 bg-blue-400">
      <g-icon name="arrow-right" size="12"></g-icon>
    </div>
  </g-button>

  <g-button variant="secondary" [fullWidth]="true" rounded="sm" customClass="mt-3">
    <g-icon name="refresh-icon" size="16"></g-icon>
    Yangilash
  </g-button>
</form>
