:host {
  display: block;
  width: 100%;
}

// Chiroyli scrollbar
.overflow-y-auto {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e2e8f0; // gray-200
    border-radius: 4px;

    &:hover {
      background: #cbd5e1; // gray-300
    }
  }
}
