.g-card {
  position: relative;
  background-color: #F3F7FF;
  background-image: url("/assets/images/ellipse.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #107EED;
    background-image: url("/assets/images/card-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .card-icon-wrapper {
    width: 56px;
    height: 56px;
    background-color: var(--icon-bg-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  h2, p {
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    &::before {
      opacity: 1;
    }

    .card-icon-wrapper {
      background-color: #FFFFFF21 !important;
      color: white !important;
    }

    h2, p {
      color: white;
    }
  }
}
