<div class="bg-white py-5">
  <div class="g-container flex justify-between items-center">
    <div class="flex items-center">
      <img
        src="assets/icons/logo-blue.svg"
        width="78"
        height="48"
        alt="log"
        [routerLink]="['/dashboard']"
      />
    </div>

    <div class="flex items-center gap-4">
      <div class="flex items-center gap-2">
        <!-- <div class="bg-[#F9F9F9] rounded-lg z-10">
          <button
            class="flex items-center gap-1.5 md:gap-2 px-3 md:px-4 py-1.5 md:py-2 text-xs md:text-sm font-medium text-gray-600 hover:bg-gray-50 rounded-lg transition-colors border border-transparent hover:border-gray-200"
          >
            <g-icon class="scale-90 md:scale-100" name="globus" size="16"></g-icon>
            O'zbekcha
            <g-icon
              class="scale-90 md:scale-100"
              name="chevron-down"
              size="14"
              color="#9CA3AF"
            ></g-icon>
          </button>
        </div> -->
        <app-switch-language></app-switch-language>
        <div
          class="w-12 h-12 flex items-center justify-center rounded-xl cursor-pointer bg-[#F9F9F9]"
        >
          <g-icon name="menu-icon" size="20"></g-icon>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <div
          class="w-12 h-12 rounded-full flex items-center cursor-pointer justify-center bg-[#2C8CE6] border-[0.125rem] border-[#4AA4F8]"
        >
          <g-icon name="user" color="white" size="20"></g-icon>
        </div>
        <p>
          <span class="text-title text-[0.9375rem] font-medium">Nurmuhammad S.O.</span>
          <br />
          <span class="text-subtitle text-xs">nurmuhammad.sultonov</span>
        </p>
        <g-icon
          name="log-out"
          (click)="showLogoutModal.set(true)"
          class="ml-2 cursor-pointer"
          color="#8196A3"
          size="16"
        ></g-icon>
      </div>
    </div>
  </div>
</div>

@if (showLogoutModal()) {
  <div
    class="fixed inset-0 bg-[#1E293B]/40 backdrop-blur-sm z-50 flex items-center justify-center p-4"
  >
    <div
      class="bg-white rounded-[24px] p-6 md:p-8 w-full max-w-[480px] shadow-2xl relative"
    >
      <h2 class="text-xl font-semibold text-title mb-3">E'tiborli bo'ling!</h2>
      <p class="text-[15px] text-subtitle2 mb-6">Haqiqatan ham tizimdan chiqmoqchimisiz?</p>

      <div class="flex flex-col sm:flex-row gap-4 w-full">
        <button
          (click)="confirmLogout()"
          class="flex-1 bg-[#FF4D4F] hover:bg-[#E63E40] text-white font-medium py-[1.125rem] rounded-xl transition-colors outline-none"
        >
          Ha
        </button>
        <button
          (click)="showLogoutModal.set(false)"
          class="flex-1 bg-[#F9F9F9] hover:bg-gray-100 text-[#2C8CE6] font-medium py-[1.125rem] rounded-xl transition-colors outline-none"
        >
          Yo'q, qolaman
        </button>
      </div>
    </div>
  </div>
}
