<div class="flex items-center justify-center gap-2">
  <button
    aria-label="Previous page"
    class="flex items-center cursor-pointer justify-center w-12 h-12 rounded-full border text-[#107EED] hover:bg-blue-100 disabled:opacity-50 disabled:cursor-not-allowed"
    [disabled]="currentPage() === 1"
    (click)="onPageChange(currentPage() - 1)"
  >
    <svg
      class="h-5 w-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        clip-rule="evenodd"
        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
        fill-rule="evenodd"
      />
    </svg>
  </button>

  @for (page of visiblePages(); track page) {
    @if (page !== '...') {
      <button
        class="page-button"
        [class.page-active]="page === currentPage()"
        [style.--active-bg-color]="activeBackgroundColor()"
        [style.--active-text-color]="activeTextColor()"
        [style.--default-text-color]="defaultTextColor()"
        [style.--hover-bg-color]="hoverBackgroundColor()"
        (click)="onPageChange(page)"
      >
        {{ page }}
      </button>
    } @else {
      <span class="flex items-center justify-center w-10 h-10 text-[#7B888D]">
        ...
      </span>
    }
  }

  <button
    aria-label="Next page"
    class="flex items-center cursor-pointer justify-center w-12 h-12 rounded-full border text-[#107EED] hover:bg-blue-100 disabled:opacity-50 disabled:cursor-not-allowed"
    [disabled]="currentPage() === totalPages()"
    (click)="onPageChange(currentPage() + 1)"
  >
    <svg
      class="h-5 w-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        clip-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        fill-rule="evenodd"
      />
    </svg>
  </button>
</div>
