:host {
  display: block;
  width: 100%;
}

.g-input-field {
  // Remove browser-default number spinners
  &[type='number'] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
