<form class="flex flex-col w-full">
  @if (hasEimzo()) {
    <div>
      <div class="mt-4 bg-[#F9F9F9] py-5 px-6 rounded-xl">
        <p class="text-subtitle text-[0.8125rem]">
          Tizimni to‘g‘ri ishlashi uchun E-IMZO modulini yoki E-IMZO brauzerini ishga tushirishingiz
          kerak. E-IMZO modulini o‘rnatish bo‘yicha ko‘rsatmalarni bu yerda o‘qishingiz mumkin
          <br />
          <br />
          E-IMZO moduli ishga tushgan bo‘lsa, brauzerda E-IMZO hostga ulanishini tekshiring.
        </p>
        <button
          class="bg-[#253F57] text-white flex gap-3 items-center px-3 py-2 rounded-lg hover:opacity-85 active:opacity-95 transition-opacity duration-100 mt-4"
        >
          <g-icon name="key" color="white" size="16"></g-icon>
          <span>E-Imzo yuklab olish</span>
        </button>
      </div>
    </div>
  } @else {
    <div>
      <g-select placeholder="ERI kalitini tanlang">
        @for (key of eriKeys; track key.id) {
          <g-option [value]="key.id" [label]="key.name">
            <div class="flex flex-col py-0.5">
              <span class="font-medium text-gray-800 text-sm">{{ key.name }}</span>
              <div class="flex items-center gap-4 text-[13px] text-gray-400 mt-1">
                <span class="flex items-center gap-1.5">
                  <g-icon name="user"></g-icon> {{ key.jshshir }}
                </span>
                <span class="flex items-center gap-1.5">
                  <i class="ph-calendar-blank"></i> {{ key.date }}
                </span>
              </div>
            </div>
          </g-option>
        }
      </g-select>
    </div>

    <g-button [fullWidth]="true" rounded="sm" customClass="mt-4" (click)="onLogin()">
      Kirish
      <div
        class="w-7 h-7 rounded-full flex justify-center items-center absolute right-5 bg-blue-400"
      >
        <g-icon name="arrow-right" size="12"></g-icon>
      </div>
    </g-button>
  }

  <g-button
    (click)="refreshEimzo()"
    variant="secondary"
    [fullWidth]="true"
    rounded="sm"
    customClass="mt-4"
  >
    <g-icon name="refresh-icon" size="16"></g-icon>
    Yangilash
  </g-button>
</form>
